
{% extends 'base.html' %}
{% load static %}

{% block content %}

        {%  include 'inc/search.html'  %}
           <div class="div-military-info"> 
                <div style="display: flex; justify-content: start; margin: 10px 60px;">
                   <a class="button" href="{% url 'visitors:create_military' %}">add</a>
                </div>
                <table class="container-table">
                    <thead>
                        <tr>
                            {% for col in field_name %}
                                <td>{{col}}</td>
                            {% endfor %}
                        
                            <th scope="col" >
                                ##
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for military in militiries %}
                                <tr>
                                    <td >
                                        <p >
                                            {{military.member_id}}
                                        </p>
                                    </td>
                                    <td >
                                        <p >
                                            {{military.expiry_date}}
                                        </p>
                                    </td>

                                    <td >
                                        <p >
                                            {{military.full_name}}
                                        </p>
                                    </td>
                                    <td >
                                        <p >
                                            {{military.rank}}
                                        </p>
                                    </td>

                                    <td >
                                        <p >
                                            {{military.contact}}
                                        </p>
                                    </td>
                                    <td >
                                        <p >
                                            {{military.licence_plate}}
                                        </p>
                                    </td>
                                    <!-- <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                        <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900">
                                            <span aria-hidden="true" class="absolute inset-0 bg-green-200 rounded-full opacity-50">
                                            </span>
                                            <span class="relative">
                                                active
                                            </span>
                                        </span>
                                    </td> -->
                                    <!-- <td >
                                        <a href="{% url 'visitors:military_visitors' military.id %}" >
                                            Service(s)
                                        </a>
                                    </td> -->
                                    
                                    <td>
                                        <!-- Button to show the modal -->
                                        
                                            <button type="button" class="openModalBtn" data-target="customModal{{ forloop.counter }}" >Service(s) </button>
                                        
                                        
                                        <!-- Hidden modal -->
                                        <div id="customModal{{ forloop.counter }}" class="custom-modal"  data-url="{% url 'visitors:my-existing-view-api' %}" >
                                            <div class="modal-content custom-modal-content">
                                                <button type="button" class="closeModalBtn" >X</button>
                                                <br>
                                                <h5>Please select Service(s)</h5>
                                                <hr>
                                                <br>
                                                <!-- Checkboxes dynamically loaded here -->

                                                <form id="checkboxForm{{ forloop.counter }}" action="{% url 'visitors:military_visitors' military.id %}" >
                                                    
                                                    {% csrf_token %}
                                                    {% for service in serviceType %}
                                                        
                                                        <input class="input-service" type="checkbox" name="{{service.name}}" id="checkbox{{ forloop.counter }}" value="{{service.id}}">
                                                        <label for="checkbox{{ forloop.counter }}">{{service.name}}</label>
                                                        <br>
                                                    {% endfor %}
                                                    <!-- <input type="hidden" name="csrfmiddlewaretoken" value="your_csrf_token_value"> -->
                                                    <div>
                                                       <hr>
                                                        <br>
                                                        <!-- <input class="do-form-add-visitor" type="submit" value="Do" disabled> --> 
                                                </form>
                                                
                                                <!-- <input class="do-form-add-visitor" type="submit" value="Do" disabled> -->
                                                <button type="button" class="do-form-add-visitor" server-url="{% url 'visitors:military_visitors' military.id %}" >Do</button>
                                                
                                                
                                            </div>
                                        </div>
                                    </td>
                                        <!-- <button type="button" id="openPopup">Open Popup</button> -->
                                    
                                </tr>
                            {% endfor %}        
                    </tbody>
                </table>
           </div> 
           
           <!-- <div id="yourElement" data-url="{% url 'visitors:my-existing-view-api' %}"></div> -->
          
           <script src="{% static 'visitors/js/test.js' %}" ></script>       
           <!-- <script src="{% static 'visitors/js/militaryinfo.js' %}" ></script>        -->

{% endblock %}
