  {% load static %}
  <div>
      <input type="checkbox" id="check">
      <label for="check" class="ckeckbtn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </label>
  
      <nav >
        <ul >
          <li >
            <a href="{% url 'visitors:militaryinfo' %}">Home</a>
          </li>
          <li  >
            <a  href="">Registers</a>
            <ul >
              <li >
                <a href="{% url 'accounts:registration' %}">UserRegister</a>
              </li>
              <li >
                <a href="{% url 'visitors:create_military' %}">MilitaryRegister</a>
              </li>
            </ul>

          </li>
          

        </ul>
        <img src="{% static 'img/logo.png' %}" >
        
      </nav>
  </div>