<div class="search">
    <form  action="" method="post" >
        {% csrf_token%}

        <label for="ield_list" >Select A Field For Search:  </label><span></span>
        <select name="choice" id="field_list" >

            <option  value="" selected >-------------------------------</option>
            {% for choice in field_name %} 
        
            
            <option  id="choice{{forloop.counter}}"
            value="{{choice}}">{{choice}}</option>
                
                

            {% endfor %} 
        </select>
        <input  type="text" name="search" placeholder="Please Enter The Value">
        <input  type="submit" value="Search" id="btn_search" onclick="my_btn_search">


    </form>
</div>